body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

/* HEADER CSS BEGIN */

.nav{
    display: flex;
    background-color:black;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
h1{
    font-family: sans-serif;
    font-weight: 50px;
    color: rgb(213, 169, 58);
}
span{
    color: white;
}
.nav-list{
    text-decoration: none;
    color: rgba(255, 253, 253, 0.50);
    font-weight: 800;
    font-size: larger;
    padding: 0 30px 0 30px;
    font-family: sans-serif;
    border-radius: 10px;
}
.nav-list:hover{
    color: goldenrod;
    animation-delay: 2s;
    background-color: rgba(255, 253, 253, 0.20);
}
.nav-tag{
    display: inline-block;
    text-decoration: none;
    list-style: none;
    align-items: center;
}

/* HEADER CSS CLOSE */

/* FOOTER CSS START*/

#footer-body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer-container{
    max-width: 1170px;
    margin: auto;
        background-color: rgb(26, 26, 26);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 30px;
}
.footer-ul{
    list-style: none;
    padding: 0px;
}
.footer{
    background-color: #000000;
    padding: 70px 0;
    margin-top: 0px;
}
.footer-col{
    width: 25%;
    padding: 0 15px;

}
.footer-h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
    font-family: sans-serif;
    font-weight: bolder;
}
.header-anchor{
    text-decoration: none;
    color: rgba(255, 253, 253, 0.50);
    font-family: sans-serif;
    line-height: 30px;
}
.header-anchor:hover{
    color: goldenrod;
}
.social-links{
    text-decoration: none;
}
.FOLLOW{
    margin-top: 40px;
}

/* FOOTER CSS CLOSE  */

/* INDEX BODY BEGINS */

.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 50px 50px;
}
.logo{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: goldenrod;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    box-shadow: 1px 1px 25px 0px rgba(128, 118, 0, 1);
   
  }
  
.logo:hover{
    background-color: black;
    box-shadow: 1px 1px 25px 0px rgba(255, 255, 255, 0.89);
}
.image{
    height: 400px;
    width: 410px;
 
}
.lines{
    width: 800px;
}
.name{
    color: black;
    margin-right: 80px;
}
.subname{
    color: goldenrod;
}
.cv-link{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: 800;

}
.cv{
    margin-left: 310px;
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: goldenrod;
    display: inline-block;
    color: white;
    height: 40px;
    width: 130px;
    border-radius: 20px;
    box-shadow: 1px 1px 25px 0px rgba(128, 118, 0, 1);
    border-color: none;
}
.cv:hover{
    background-color: rgb(255, 0, 0);
}
.bio{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    text-align: center;
    padding-right: 10px;
    color: white;
}


.lines{
  margin-right: 20px;
}








.container-witer {
  height: 100vh;
  display: flex;
  justify-content: center;
 
}
.container-writer p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
  color: white;
}
.container-writer p span.typed-text {
  font-weight: normal;
  color: goldenrod;
}
.container-writer p span.typed-text:hover{

    color:red;
}

p span.cursor {
    margin: 0px;
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}






@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --glow-color: goldenrod;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}



/* GLOWING CV BUTTON BEGIN */



.glowing-btn {
  position: relative;
  align-items: center;
  justify-content: center;
  margin-left: 40%;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 1em;
  width: 200px;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}



/* GLOWING CV BUTTON CLOSE */

/* INDEX BODY CLOSE */



 /* CONTACT BODY BEGINS */
  
  .contact-container{
    display: block;
    margin: 20px auto;
    height: 500px;
    width: 650px;
    background-color: goldenrod;
    border-radius: 30px;
    text-align: center;
    font-family: sans-serif;
    box-shadow: 2px 2px 30px 0px rgb(255, 255, 255);
  }
  .contact-h1{
    color: rgba(0,0,0,80%);
    font-family: sans-serif;
    padding-top: 20px;
  }
  textarea{
    border-radius: 10px;
    font-size: 25px;
    width: 80%;
  }
.submit-btn{
  background-color: rgba(228, 25, 22, 50%);
  border-radius: 20px;
  margin: 10px auto;
  width: 20%;
  height: 40px;
  color: white;
  font-weight: 800;
  font-family: sans-serif;
  box-shadow: rgba(45, 125, 98, 50%);
  
}
.form-box{
  width: 80%;
  height: 45px;
  margin: 10px auto;
  border-radius: 10px;
  font-size: 24px;
}
.or{
  margin: 0 auto;
  font-weight: 900;
  color: white;
  padding: 0 20px;
  padding: 0 20px;
  background-color: black;
}
.mail-id{
  text-decoration: none;
  font-weight: 600;
}

/* CONTACT BODY CLOSE */


/* CERTIFICATE OPEN  */
/* .certificate-container{
  width: 100%;
  justify-content: center;
  align-items: center;
} */
.certificate-img{
  display: flex;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
}
.Credendial-btn{

  display: flex;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  font-family: sans-serif;
  font-weight: 600;
  background-color: goldenrod;
  color: white;
  text-decoration: none;
  border-radius: 18px;
}




/* CERTIFICATE CLOSE  */


/* RESPONSIVE BEGIN */






@media only screen and (max-width: 600px) {
  .glowing-btn{
    font-size: 1em;
  }
}











@media(max-width:890px){
    .nav{
        width: 880px;
        height: 150px;
    }
    h1{
        width: 300px;
        margin-left: 30px;
    }
    .nav-list{
        padding: 0 10px 0 10px;
        font-size: 20px;
    }
    .container{
      display: inline;
    }
    .logo{
      margin-left: 250px;
    }
    .bio{
        font-size: 21px;
        line-height: 180%;
        display: flex;
        word-wrap: break-word;
        overflow-x: auto;
        max-width: 100%;
        align-items: center;
        justify-content: center;
        margin-left: 30px;
    }
    .glowing-btn{
      display: inline;
      width: 250px;
      margin-right: 80px;
    }
    .container-witer{
      margin-left: 800px;
      padding-left: 80px;
    }
    #auto-text{
      margin-left: 85px;
    }



    #footer-body{
      width: 500px;
  } 
  .footer{
      margin-top: 400px;
      padding-right: 800px;
  }
.footer-container{
      width: 880px;
      padding-left: 90px;
  }



  /* contact responsive start */

.contact-container{
  height: 500px;
  margin: 50px 200px 50px 120px;
}
.contact-h1{
width: 100%;
  font-size: 30px;
  margin:10px 0;
}/* contact responsive start */

.contact-container{
  height: 500px;
  margin: 50px 200px 50px 120px;
}
.contact-h1{
width: 100%;
  font-size: 30px;
  margin:10px 0;
}


/* CERTIFICATE OPEN */

.certificate-img{
  width: 700px;
  margin-left: 90px;
}
.Credendial-btn{
  margin: 10px 80px;
}

/* CERTIFICATE CLOSE  */







}

/* RESPONSIVE CLOSE */
